.WindowsTitlebar {
	max-width: 144px;
	max-height: 32px;
	flex-grow: 1;
}

@mixin WindowsTitlebar__Button {
	@include Button;
	-webkit-app-region: none;
	width: 48px;
	height:32px;
	svg {
		width: 10px;
		height: 10px;
	}
}

.WindowsTitlebar__Button {
	@include WindowsTitlebar__Button;
}

.WindowsTitlebar__CloseButton {
	@include WindowsTitlebar__Button;
	&:hover {
		background: #e81123;
	}
}