node_modules/
dist/
build/
tmp/
**/backend/storage/
.eslintrc.local.json
yarn-error.log
tsconfig.tsbuildinfo
.eslintcache
.venv/
__pycache__/
*.db
*.db-journal
*.tsbuildinfo
.vite/
__snapshots__/
.DS_Store
*.egg-info/
generated/
.claude
CLAUDE.md
AGENTS.md

.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions