.game {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	width: 100%;
	height: 100%;

	
	::-webkit-scrollbar {
		width: 15px;
	}
	  
	::-webkit-scrollbar-track {
		background: var(--sidebar-bg);
	}

	::-webkit-scrollbar-thumb {
		background: gray;
	}

	::-webkit-scrollbar-thumb:hover {
		background: var(--content-text);
	}
}

.game-header {
	display: flex;
	flex-direction: row;
}

.game-grid {
	display: grid;
	overflow: auto;
	width: 100%;
	height: 100%;
	
}

@mixin cell {
	width: 20px;
	height: 20px;
	border: solid 1px var(--content-splitter);
}

.game-cell-live {
	@include cell;
	background-color: var(--cell-live);
}

.game-cell-dead {
	@include cell;
	background-color: var(--cell-dead);
}

