.ResizeFrame {
    width: auto;
    height: auto;
}

.ResizeFrame__Top {
	-webkit-app-region: no-drag;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 5px;
}

.ResizeFrame__Bottom {
	-webkit-app-region: no-drag;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 5px;
}

.ResizeFrame__Left {
	-webkit-app-region: no-drag;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 5px;
}

.ResizeFrame__Right {
	-webkit-app-region: no-drag;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 5px;
}