.titlebar {
	display: flex;
	width: 100%;
	height: 32px;
	background: var(--sidebar-bg);
	cursor: default;
	-webkit-app-region: drag;
	-webkit-user-select: none;
	border-bottom: 1px solid var(--content-splitter);
}

.titlebar-icon {
	flex-grow: 1;
	max-width: 32px;
	max-height: 32px;
	path {
		fill: var(--icon);
	}
}

.titlebar-text {
	flex-grow: 2;
	max-height: 32px;
	width: auto;
	font: 12px/32px "Segoe UI", Arial, sans-serif;
	color: var(--content-text);
	text-indent: 10px;
}

.titlebar-controls {
	max-width: 144px;
	max-height: 32px;
	flex-grow: 1;
}

.titlebar-btn {
	margin: 0;
	padding: 0 12px;
	border: 0;
	outline: 0;
	color: var(--content-text);
	background: transparent;
	-webkit-app-region: none;
}

.titlebar-btn:hover {
	background: rgba(128,128,128,.1);
}

.win-btn {
	width: 48px;
	height:32px;
}

.win-close:hover {
	background: #e81123;
}

.titlebar-btn {
	path, rect, polygon {
		fill: var(--content-text);
	}
}

.titlebar-btn svg {
	width: 10px;
	height: 10px;
}