services:
  musetric:
    container_name: musetric-container
    image: musetric-cuda
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    ports:
      - '80:80'
    restart: unless-stopped

volumes:
  database:
    driver: local
