:root, .white {
	--color-bg: hsl(0, 0%, 100%);
	--color-sidebar-bg: hsl(0, 0%, 91%);
	--color-content-bg: hsl(0, 0%, 91%);
	--color-content: hsl(0, 0%, 0%);
	--color-splitter: hsl(0, 0%, 75%);
	--color-icon: hsl(0, 0%, 68%);

	--color-cell-live: hsl(0, 0%, 0%);
	--color-cell-dead: hsl(0, 0%, 100%);
}