:root, .white {
	--app-bg: white;
	--window-border: #808080;
	--titlebar-bg: #e9e9e9;
	--icon: #777777;
	--content-text: #000000;
	--content-splitter: #bebebe;
	--cell-live: black;
	--cell-dead: white;
}