:root, [data-theme="dark"] {
    --background: rgb(33, 33, 33);
    --background-panel: rgb(50, 50, 50);
    --content: rgb(241, 241, 241);
    --content-hover: rgba(241, 241, 241, 0.1);
    --content-hover-active: rgba(241, 241, 241, 0.2);
    --primary: rgb(120, 210, 255);
    --primary-hover: rgba(120, 210, 255, 0.13);
    --primary-hover-active: rgba(120, 210, 255, 0.26);
    --divider: rgb(128, 128, 128);
    --shadow: rgba(255, 255, 255, 0.3);
}

[data-theme="light"] {
    --background: rgb(255, 255, 255);
    --background-panel: rgb(228 228 228);
    --content: rgb(20, 20, 20);
    --content-hover: rgba(20, 20, 20, 0.05);
    --content-hover-active: rgba(20, 20, 20, 0.1);
    --primary: rgb(80, 170, 255);
    --primary-hover: rgba(80, 170, 255, 0.1);
    --primary-hover-active: rgba(80, 170, 255, 0.2);
    --divider: rgb(196, 196, 196);
    --shadow: rgba(50, 50, 50, 0.2);
}