body {
	border: 1px solid gray;
	margin: 0;
	overflow: hidden;
}

#root {
	width: calc(100vw - 2px);
	height: calc(100vh - 2px);
	display: flex;
	flex-direction: column;
}

.main {
	display: flex;
	flex: 1;
	min-height: 0px;
	overflow: auto;
}