.scrollbar {
	::-webkit-scrollbar {
		width: 15px;
	}
	  
	::-webkit-scrollbar-track {
		background: var(--color-sidebar-bg);
	}

	::-webkit-scrollbar-thumb {
		background: gray;
		&:hover {
			background: var(--color-content);
		}
	}

	::-webkit-scrollbar-corner {
		background: var(--color-sidebar-bg);
	}
}